.survey__hear-group h2,
.survey__agency-group h2 {
  margin-bottom: 1.5rem;
}

.survey__hear-group {
  margin-bottom: 3rem;
}

.survey__label {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.survey__input {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

[type="radio"] {
  height: 1.25rem;
  width: 1.25rem;
}

.survey__label-text {
  margin-left: 1rem;
}

.survey__agency-group-inputs {
  display: flex;
}

.survey__agency-group-inputs .survey__input {
  margin-right: 3.5rem;
}

.survey__nav-btn-container {
  display: flex;
  justify-content: space-between;
}

.survey__nav-btn {
  position: relative;
  margin-top: 3rem;
  padding: 0.75rem 1rem 0.75rem;
  background-color: #57C1BA;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
}

.icon-arrow-right2 {
  padding-right: 4rem;
}

.icon-arrow-left2 {
  padding-left: 4rem;
}

.icon-arrow-right2::before {
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: 10%;
  top: 17%;
  color: #fff;
  font-size: 1.5rem;
  z-index: 1;
}

.icon-arrow-left2::before {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 10%;
  top: 17%;
  color: #fff;
  font-size: 1.5rem;
  z-index: 1;
}
